.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fa3dd4;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }
  