.signup-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--dark-blue);
    padding: 30px 40px;
    margin:20px auto;
    max-width: 90vw;
    border-radius: 10px;
}
.signup-page h2{
    color: var(--dark-blue);
}
.signUp_label_accept{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.signUp_label_accept p{
    color: var(--darkOrange);
}
.signUp_btn{
    background-color: var(--dark-blue);
    color: white;
}
.signUp_btn_login{
    background: none;
}
.signUp_btn_login a{
    color: var(--dark-blue);
    font-size: 1.1rem;
}

@media only screen and (min-width:768px){
    .signup-page{
        max-width: 70vw;
    }
}
@media only screen and (min-width:1024px){
  .signup-page{
    max-width: 45vw;
  }
}